<h1>PLEASE MAKE YOUR SELCTION BELOW PLAYER 1</h1>


<form class="form-group" action="/player_1_input" method="post">
  <input type="radio" name="input1" value="rock">ROCK<br>
  <input type="radio" name="input1" value="paper">PAPER<br>
  <input type="radio" name="input1" value="scissors">SCISSORS<br>
  <button type="submit" name="button">SUBMIT</button>
</form>
