<h1>Player twos selection is:</h1>


<form class="form-group" action="/player_2_input" method="post">
  <input type="radio" name="input2" value="Rock">Rock<br>
  <input type="radio" name="input2" value="Paper">Paper<br>
  <input type="radio" name="input2" value="Scissors">Scissors<br>
  <button type="submit" name="button">SUBMIT</button>
</form>
