<h1>Player ones selection is:</h1>


<form class="form-group" action="/player_1_input" method="post">
  <input type="radio" name="input1" value="Rock">ROCK<br>
  <input type="radio" name="input1" value="Paper">PAPER<br>
  <input type="radio" name="input1" value="Scissors">SCISSORS<br>
  <button type="submit" name="button">SUBMIT</button>
</form>
