<h1>Ready to see who is the king of rock, paper scissors??</h1>

<h1>Hit the submit button below</h1>

<form class="form-group" action="/who_wins">
  <button type="submit" name="button">SUBMIT</button>
</form>
